# This is Git's per-user configuration file.
[user]
	name = Théo de Magalhaes
  email = theodemagalhaes@icloud.com

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[core]
	editor = nvim
[pull]
	rebase = true
